.summary-about{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    background-color: #FF6060;
    padding: 25px;
    border-radius: 15px;
    color: white;
    list-style: none;   
}
.section-about{
    width: 90%;
    padding-top: 25px;
    margin: 0 auto;
}
.drop-down-about{
    width: 100%;
}

.paragraph-about{
    font-size: 20px;
    padding: 10px;
    margin-top: -5px;
    border-radius: 0px 0px 15px 15px;
    background-color: #F6F6F6;
    color: #FF6060;
}

.arrow-up {
    position: absolute;
    top: 20px;
    right: 50px;
    transition: all 0.5s;
}

.arrow-down {
    position: absolute;
    top: 20px;
    right: 50px;   
}

details .arrow-down{
    display: none;
}

details[open] .arrow-up{
    transform: rotate(-180deg);
}
details[open] .arrow-down{
    display: none;
}
@media (min-width: 768px) and (max-width: 1024px){
    .section-about{
        width: 100%;
    }
    .drop-down-about{
        width: 90%;
        margin: 0 auto;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    /* .section-about{
        width: 100%;
    } */
    .drop-down-about{
        width: 90%;
    }
    .summary-about{
        font-size: 13px;
        padding: 15px;
    }
    .paragraph-about{
        font-size: 12px;
    }
    .liste-equipements{
        font-size: 10px;
    }
    .arrow-down , .arrow-up {
        right: 10px;
        top: 5px;
    }
}