.slider {
    position: relative;
    height: 300px;
}

.slider-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.slider-next {
    position: absolute;
    top: 40%;
    right: 15px;
}

.slider-previous {
    position: absolute;
    top: 40%;
    left: 15px;
}

.counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: white;
}
@media (min-width: 320px) and (max-width: 767px){
    .slider-next img,.slider-previous img{
        width: 30px;
        height: 30px;
    }
}
