.drop-down-about{
    display: flex;
    flex-direction: row;
    color: #FF6060;
}
.host-name{
    width: 80px;
}
.article-logement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}
.dropdown{
    display: flex;
    flex-direction: row;
    gap: 75px;
    width: 100%;
    margin-top: 15px;
}
.nom-logement{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}
.location {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
}
.liste-equipements{
list-style: none;
padding: 10px;
font-size:20px ;
gap: 5px;
background-color: #F6F6F6;
}
.tags-list {
    gap: 10px;
}

.host{
    display: flex;
    flex-direction: row-reverse;
}
.host img {
    border-radius: 100%;
    height: 64px;
    width: 64px;
}
.host p {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
}
.container-tags{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #F6F6F6;
}
.tags{
    list-style: none;
    padding: 5px;
    background: #FF6060;
    border-radius: 20px;
    
}
@media (min-width: 320px) and (max-width: 767px){
    .liste-equipements{
        font-size: 10px;
    }

    .dropdown{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    .drop-down-about{
        width: 100%;
    }
    .tags{
        font-size: 10px;
    }
    .nom-logement{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .location{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .head-logement{
        gap: 15px;
    }
    .article-logement{
    flex-direction: column;
    }
    .host-rating{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}