header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

li  a{
    position:relative;
    display: flex;
    flex-direction: row;
    color: #FF6060;
    text-decoration: none;

    
    
}

li a.active::after {
    /* text-decoration: underline; */
    content: '';
    height: 2px;
    width: 100%;
    background: #FF6060;
    position: absolute;
    left: 0;
    bottom: 3px;
}



nav ul {
    justify-content: right;
    align-items: right;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    margin: 45px 50px 0px 0px;
    gap: 60px;
    list-style-type: none;
    width: 1240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 75%; */
    padding: 0px 100px;
}
@media (min-width: 768px) and (max-width: 1024px) {
header {
    display: flex;
    flex-direction: column;
}
.kasa-hdp{
    width: 135px;
}
}

@media (min-width: 320px) and (max-width: 767px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 30px;
    }
    nav img {
        width: 145px;
        height: 47px;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 12px;
        gap: 25px;
        margin: 0px;
    }
    li a.active:after{
        bottom: 0px;
    }
}